<div class="buy">
    <div class="buy-can">  </div>
    <div class="seller-det">
        <div class="seller-det-s">
            <div class="sell-head">
                <div><span>Seller Details:</span></div>
                <div type="button" onclick="del_sel()">&times;</div>
            </div>
            <div class="sell-det">
                <div><span>Seller: </span>{{post.uname.user.first_name}}</div>
                <div><span>Institute: </span>{{post.Institute}}</div>
                <div><span>Email ID: </span><a href="mailto:{{post.uname.email}}">{{post.uname.email}}</a></div>
                <div><span>Contact: </span>{{post.uname.contact_number}}</div>
            </div>
            {% comment %} <div class="sell-msg">
            {% if user.is_authenticated %}
                <div>
                    Confirm the product request to seller to buy this product
                </div>
                <div>
                    <button onclick="sendrequest('{{post.uname}}','{{post.id}}')">Send Request</button>
                </div>
            {% else %}
                <div>
                    Please do Login to Contact
                </div>
                <div>
                    <button onclick="dologin()">Login</button>
                </div>
            {% endif %}
            </div> {% endcomment %}
        </div>
    </div>
</div>
<script>
    
</script>