{% load static %}
{% static "images" as baseUrl %}
<div class="con-inside">
    <div class="con-heading-sel">
        Edit Post  <div style="font-size: 14px;font-weight: normal;color: #06c;
        margin-top: 10px;">{{post.post_title}}</div>
    </div>
    <div class="hr"></div>
    <div class="con-main-sel book-sel">
        <form action="{% url 'update_post' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="id" value="{{post.id}}" style="display: none;">
            <div class="con-main-sel-inp sel-inp">
                <div class="lab">Category :</div>
                <div class="inp"><input value="{{post.category}}" type="text" name="cate" placeholder="Author"></div>
            </div>
            {% if post.author %}
            <div class="con-main-sel-inp sel-inp">
                <div class="lab">Author :</div>
                <div class="inp"><input value="{{post.author}}" type="text" name="author" placeholder="Author"></div>
            </div>
            {% endif %}
            <div class="con-main-sel-inp sel-inp">
                <div class="lab">Name :</div>
                <div class="inp"><input value="{{post.post_title}}" type="text" name="name" placeholder="Name" required></div>
            </div>
            <div class="con-main-sel-inp sel-inp">
                <div class="lab">Price :</div>
                <div class="inp"><input value="{{post.price}}" type="text" name="price" placeholder="Price" required></div>
            </div>
            <div class="con-main-sel-inp sel-inp" style="margin-left: 100px;display: flex; ">
                {% for i in imgs %}
                {% if i.post.id == post.id %}
                <div id="img-{{i.id}}" class="img-inp" type="button" onclick="delimg({{i.id}})">
                    <div class="overlay">
                        <div class="text">x</div>
                    </div>
                    <img src="{{i.cover.url}}" alt=""   style="
                    width: 60px;
                    height: 50px;
                    object-fit: contain;
                    margin-right:10px ;
                    cursor: pointer;">
                    <input id="inp-{{i.id}}" style="display: none;" value="{{i.cover.url}}" type="file" name="cover">
                </div>
                   
                
                {% endif %}
                {% endfor %}
            </div>
            
            <div class="con-main-sel-inp sel-inp">
                <div class="lab">Pics :</div>
                <div class="inp fil"><input type="file" name="cover" accept="images" multiple ></div>
            </div>
            <div class="con-main-sel-inp tex">
                <div class="lab tex">About :</div>
                <div class="inp"><textarea title="About"  name="desc" placeholder="About" rows="10" style="resize: none;">{{post.desc}}</textarea></div>
            </div>
            <div class="but"><button>Submit</button></div>
        </form>
    </div>
</div>

<script>
    function delimg(id){
          $.ajax({
            url: '{% url "del_img" %}',
            data:{
              'id' : id,
            },
            dataType:'json',
            success:function(data){
              if(data.deleted){
                $("#img-"+id).remove();
              }
            }
          });
      }
</script>