{% extends 'blog/base.html' %}
{% load static %}
{% static "images" as baseUrl %}

{% block title %}{{page_title}}{% endblock %}

{% block container-box %}

<div class="faqs">
    <div class="faqs-s">
        <div class="heading">
            <div class="heading-s">
                <div class="icon">
                    <img src="{% static 'images/faqs.png' %}" alt="">
                </div>
                <div class="name">
                    FAQs
                </div>
            </div>
        </div>
        <div class="search">
            <form action="{% url 'faqs-search' %}" method="GET">
                <div id="search" class="search_in">
                <div class="im">
                    {% if data.darkmode %}
                    <img src="{% static 'images/search_icon_dark.png' %}" alt="search_icon" >
                    {% else %}
                    <img src="{% static 'images/search_icon.png' %}" alt="search_icon" >
                    {% endif %}
                </div>
                <div class="in">
                    <input title="Search FAQ.." autocomplete="off" type="search" name="faq" placeholder="Search FAQ.." value="{{fq}}">
                </div>
            </div>
            </form>
        </div>
        {% for contact in contacts %}
            {% if contact.msg and contact.ans %}
                <div class="que-ans">
                    <div class="que">
                        {{contact.msg}}
                    </div>
                    <div class="ans">
                        {{contact.ans}}
                    </div>
                </div>
                <div class="hr"></div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}