{% extends 'blog/base.html' %}
{% load static %}
{% static "images" as baseUrl %}

{% block title %}{{page_title}}{% endblock %}

{% block container-box %}

<div class="faqs">
    <div class="faqs-s">
        <div class="heading">
            <div class="heading-s">
                <div class="icon">
                    <img src="{% static 'images/faqs.png' %}" alt="">
                </div>
                <div class="name">
                    FAQs
                </div>
            </div>
        </div>
        <div class="search">
            <form action="{% url 'faqs-search' %}" method="GET">
                <div id="search" class="search_in">
                <div class="im">
                    {% if data.darkmode %}
                    <img src="{% static 'images/search_icon_dark.png' %}" alt="search_icon" >
                    {% else %}
                    <img src="{% static 'images/search_icon.png' %}" alt="search_icon" >
                    {% endif %}
                </div>
                <div class="inn">
                    <input title="Search FAQ.." autocomplete="off" type="search" name="faq" placeholder="Search FAQ.." value="{{fq}}">
                </div>
            </div>
            </form>
        </div>
        <div class="que-ans">
            <div class="que">
                What is Lincart?
            </div>
            <div class="ans">
                Lincart is a web app, where a student sell his product to another student directly without involving of any other third person.
            </div>
        </div>
        <div class="hr"></div>
        <div class="que-ans">
            <div class="que">
                How can a buyer contact the seller?
            </div>
            <div class="ans">
                The buyer who needs to buy a product, click the button "Contact" of its corresponding product, and then both can further chat in ?notifications/Messages
                Section to move further and meet.
            </div>
        </div>
        <div class="hr"></div>
        <div class="que-ans">
            <div class="que">
                How to enter the product details in lincart?
            </div>
            <div class="ans">
                Go to "Sell Product" section in menu and enter the required details of product and click submit. And you can further edit the details in "Your Products" section, click the three dots of the corresponding product and the click edit, there you can edit the details of the your product which you want to sell.  
            </div>
        </div>
        <div class="hr"></div>
        {% for contact in contacts %}
            {% if contact.msg and contact.ans %}
                <div class="que-ans">
                    <div class="que">
                        {{contact.msg}}
                    </div>
                    <div class="ans">
                        {{contact.ans}}
                    </div>
                </div>
                <div class="hr"></div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}