{% load static %}
{% static "images" as baseUrl %}
<div class="header" id="header">


    <!--logo-->
   <div class="logo">
       <div>
            <a href="{% url 'home' %}">
                lincart.in
            </a>
       </div>
    </div>


    <!--search-->
    <div class="search">
        <form action="{% url 'search' %}" method="GET">
            <div id="search" class="search_in">
            <div class="im">
                {% if data.darkmode %}
                <img src="{% static 'images/search_icon_dark.png' %}" alt="search_icon" >
                {% else %}
                <img src="{% static 'images/search_icon.png' %}" alt="search_icon" >
                {% endif %}
            </div>
            <div class="inn">
                <input title="Search here.." autocomplete="off" type="search" name="b" placeholder="Search here.." value="{{sea}}">
            </div>
        </div>
        </form>
    </div>


    <!--menu-->
    <div class="mnu" id="mnu">
        <div class="mnu-s">
            {% if user.is_authenticated %}
            <div class="downkey mn">
                <span>
                    Hello, {{user.first_name}}
                    <img src="{% static 'images/downkey.png' %}" alt="">
                </span>
                <div class="ull">
                    <a title="Products" href="{% url 'base' 'posts' %}">
                        <div class="lii">
                            Your Products
                        </div>
                    </a>
                    <a title="Sell Product" href="{% url 'base' 'uploadpost' %}">
                        <div class="lii">
                            Sell Your Products
                        </div>
                    </a>
                    <a title="Notifications" href="{% url 'base' 'notifications' %}">
                        <div class="lii">
                            Notifications/Messages
                        </div>
                    </a>
                    <!--a title="Liked" href="{% url 'base' 'liked' %}">
                        <div class="lii">
                            Liked
                        </div>
                    </a-->
                    <a title="Settings" href="{% url 'base' 'settings' %}">
                        <div class="lii">
                            Settings
                        </div>
                    </a>
                    <a title="Dashboard" href="{% url 'base' 'dashboard' %}">
                        <div class="lii">
                            Profile
                        </div>
                    </a>
                    {% if user.is_superuser %}
                        <a title="Admin" href="/admin/" target="_blank"> 
                            <div class="lii">
                                Admin
                            </div>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="mn"><a title="Logout" href="{% url 'logout' %}">Logout</a></div>
        {% else %}
            <div class="mn"><a title="Register" type="button" onclick="document.getElementById('id02').style.display='block';document.getElementById('modal-del').style.display='block'">Register</a></div>
            <div class="mn"><a title="Login" type="button" onclick="document.getElementById('id01').style.display='block';document.getElementById('modal-del').style.display='block'">Login</a></div>                   
        {% endif %}
            <div class="mn"><a title="About" href="{% url 'about' %}">About</a></div>             

        </div>
    </div>
</div>

<div class="expand">
    <div class="expand-s">
        {% if user.is_authenticated %}
            {% for s in seas_ind %}
            <form class="sea_sg" id="sea-{{s.id}}" action="{% url 'search' %}" method="GET">
                <input style="display: none;" title="Search here.." autocomplete="off" type="search" name="b" placeholder="Search here.." value="{{s}}">
                <button class="subm" type="submit">{{s}}</button>
                <button class="subc" type="reset" onclick="delsea({{s.id}})">&times;</button>
            </form>
            {% endfor %}
        {% else %}
            {% for s in seas_all %}
            <form class="sea_sg" action="{% url 'search' %}" method="GET">
                <input style="display: none;" title="Search here.." autocomplete="off" type="search" name="b" placeholder="Search here.." value="{{s}}">
                <button type="submit">{{s}}</button>
            </form>
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class="min-header">
    <div class="logo">
        <div>
            <a href="{% url 'home' %}">
                lincart.in
            </a>
       </div>
    </div>
    <div class="bars" onclick="sea_can()">
        <div class="navigation-toggle klik">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
            
        </div>
    </div>
</div>

<div class="navigation">
    <div class="ull">
    <div class="bac">
        <span onclick="sea_can()">Cancel</span> 
    </div>
        <div class="search">
            <form action="{% url 'search' %}" method="GET">
                <div id="search" class="search_in">
                <div class="im">
                    {% if data.darkmode %}
                    <img src="{% static 'images/search_icon_dark.png' %}" alt="search_icon" >
                    {% else %}
                    <img src="{% static 'images/search_icon.png' %}" alt="search_icon" >
                    {% endif %}
                </div>
                <div class="inn">
                    <input title="Search here.." autocomplete="off" type="search" name="b" placeholder="Search here.." value="{{sea}}">
                </div>
            </div>
            </form>
        </div>
        {% for nav in navss %}
            {% if user.is_authenticated %}
                <a title="{{nav.n}}" href="{% url 'base' nav.w %}">
            {% else %}
                <a title="{{nav.n}}" style="color: rgba(192,192,192,1);">
            {% endif %}
            <div class="lii">
                {{nav.n}}
            </div>
        </a>
        {% endfor %}
        <a title="About" href="{% url 'about' %}">
            <div class="lii">
                About
            </div>
        </a>
        {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <a title="Logout" href="{% url 'logout' %}">
        {% else %}
            <a title="Logout" href="{% url 'logout' %}" style="border: none;">
        {% endif %}            
            <div class="lii">
                Logout
            </div>
        </a>
        {% else %}
            <a title="Register" onclick="document.getElementById('id02').style.display='block';document.getElementById('modal-del').style.display='block'" style="cursor: pointer;">
                <div class="lii">
                    Register
                </div>
            </a>
            <a title="Login" onclick="document.getElementById('id01').style.display='block';document.getElementById('modal-del').style.display='block'" style="border: none; cursor: pointer;">
                <div class="lii">
                    Login
                </div>
            </a>
        {% endif %}
        {% if user.is_superuser %}
            <a title="Admin" href='/admin/' style="border: none;" target="_blank">
                <div class="lii">
                    Admin
                </div>
            </a>
        {% endif %}
    
    </div>
</div>

<script>
    function get_sea(sea){
        $.ajax({
            url: '{% url "get-sea" %}',
            data:{
                'sea' : sea,
            },
            dataType:'json',
            success:function(data){
                if(data.there){
                
                
                }
            }
        });
    }
    function delsea(id){
        $.ajax({
            url: '{% url "delete_sea" %}',
            data:{
                'id' : id,
            },
            dataType:'json',
            success:function(data){
                if(data.deleted){
                $("#sea-"+id).remove();
                if(data.st){
                    appendToSea(data);
                }
                
                }
            }
        });
    }
    function appendToSea(data){
        $(".expand-s:last-child").append(`
            <form id="sea-${data.sid}" action="{% url 'search' %}" method="GET">
                <input style="display: none;" title="Search here.." autocomplete="off" type="search" name="b" placeholder="Search here.." value="${data.sinp}">
                <button class="subm" type="submit">${data.sinp}</button>
                <button class="subc" type="reset" onclick="delsea(${data.sid})"><i class="fa fa-close"></i></button>
            </form>
        `);
      }

</script>