{% load static %}
{% static "images" as baseUrl %}

<div id="id01" class="modal">
    <div onclick="modaldel()" class="modal-del del-max animate1" id="modal-del1">
       
    </div>
    <div class="modal-content animate">
        <div onclick="modaldel()" class="model-del-min">
            <div style="font-weight: lighter;font-size: 9.5px;">&#10092;&nbsp;</div>
            <div>back</div>
        </div>
        <div class="cent login-cent">
            <div class="heading">Log In</div>
            <div class="login">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="block-main">
                        <div class="block-main-inp">
                            <!--div class="block-lab">Username</div-->
                            <div class="block-inp"><input type="text" name="username" placeholder="Username" required></div>
                        </div>
                        <div class="block-main-inp">
                            <!--div class="block-lab">Password</div-->
                            <div class="block-inp"><input type="password" name="password" placeholder="Password" required></div>
                        </div>
                    </div>
                    <div class="submit-btn">
                        <input value="Login" type="Submit">
                    </div>
                </form>
            </div>
            <div class="oth">
                <div>
                    Create an account?
                    <input type="submit" onclick="document.getElementById('id02').style.display='block';document.getElementById('id01').style.display='none';" value="Register">
                </div>
            </div>
        </div>
    </div>
</div>


<div id="id02" class="modal modal1">
    <div onclick="modaldel()" class="modal-del del-max animate1" id="modal-del2"></div>
    <div class="modal-content animate">
        <div onclick="modaldel()" class="model-del-min">
            <div style="font-weight: lighter;font-size: 9.5px;">&#10092;&nbsp;</div>
            <div>back</div>
        </div>
        <div class="cent">
            <div class="heading">Register</div>
            <div class="login">
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <div class="block-main">
                        <div class="block-main-inp">
                            <!--div class="block-lab">First Name</div-->
                            <div class="block-inp"><input type="text" name="first_name" placeholder="First Name" autocomplete="off" required></div>
                        </div>
                        <div class="block-main-inp">
                            <!--div class="block-lab">Last Name</div-->
                            <div class="block-inp"><input type="text" name="last_name" placeholder="Last Name" autocomplete="off"></div>
                        </div>
                        <div class="block-main-inp">
                            <!--div class="block-lab">Email</div-->
                            <div class="block-inp"><input type="email" name="email" placeholder="email" autocomplete="off" required/></div>
                        </div>
                        <div class="block-main-inp">
                            <!--div class="block-lab">Username</div-->
                            <div class="block-inp"> <input type="text" id="username" name="username" placeholder="Username" autocomplete="off" required/></div>
                        </div>
                        <div class="block-main-inp">
                            <!--div class="block-lab">Password</div-->
                            <div class="block-inp"><input type="password" name="password1" placeholder="Password" autocomplete="off" required/></div>
                        </div>
                        <div class="block-main-inp">
                            <!--div class="block-lab"> Confirm Password</div-->
                            <div class="block-inp"><input type="password" name="password2" placeholder="Confirm Password" autocomplete="off" required/></div>
                        </div>
                    </div>
                    <div class="submit-btn">
                        <input value="Register" type="Submit">
                    </div>
                </form>
            </div>
            <div class="oth">
                <div>
                    Already have an account?
                    <input type="submit" onclick="document.getElementById('id01').style.display='block';document.getElementById('id02').style.display='none';" value="Login"></p>
                </div>
            </div>
        </div>
    </div>
    <script>
        
    </script>
</div> 
