{% load static %}
{% static "images" as baseUrl %}

<div class="con-inside">
    <div class="con-heading">
        {% for nav in navss %}
            {% if nav.w == sec %}
                {{ nav.n }}
            {% endif %}
        {% endfor %}
    </div>
    <div class="noti">
        <div class="noti-s">
            <div class="users-list">
                <div class="user-head">
                    <div class="user-head-s">
                        <div class="user-sea">
                            {% if data.darkmode %}
                            <img src="{% static 'images/search_icon_dark.png' %}" alt="search_icon" >
                            {% else %}
                            <img src="{% static 'images/search_icon.png' %}" alt="search_icon" >
                            {% endif %}
                        </div>
                        <div class="user-inp">
                                <input id="userChat" type="search" placeholder="Search User..">
                        </div>
                    </div>
                </div>
                <div id="user-list" class="user-list">
                    {% for c in chatters %}
                    <div type="button" onclick="get_user('{{c.recipient}}')" class="user-one user" id="user-one {{c.recipient}}">
                        <div class="user-s">
                            <Span>{{c.recipient}}</Span>                        
                            <span class="msg_not" style="background:#16C79A;color:white;">
                                {% if c.notification %}
                                    {% if c.msg_count %}
                                        {{c.msg_count}}
                                    {% endif %}
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    {% endfor %}
                    {# Users go here #}
                </div>
            </div>
            <div class="msg-list">
                <div class="msg-head" id="msg-head">
                    
                </div>
                <div class="msg-main">
                    <ul id="messages" class="messages">
                        {# Messages go here #}
                    </ul>
                </div>
               <div class="msg-input">
                   <div class="msg-input-s">
                    <input id="chat-input" type="text" class="form-control input" placeholder="Type your message here ...">
                    <button class="btn btn-info btn" id="btn-send">Send</button>
                   </div>
               </div>
            </div>
        </div>
    </div>
    <!--div class="container">
        <div class="row">
            <div class="col-md-4">
                <div id="user-list" class="list-group">
                    <a href="" class="list-group-item disabled">
                        <h4 class="list-group-item-heading">Users</h4>
                        {# Users go here #}
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">Chat</h4>
                    </div>
                    <div>
                        <ul id="messages" class="messages">
                            {# Messages go here #}
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="chat-input" type="text"
                                   class="form-control input"
                                   placeholder="Type your message here ..."
                                   maxlength="500">
                            <span class="input-group-btn">
                            <button class="btn btn-info btn"
                                    id="btn-send">
                                Send</button>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div-->
    <!--div class="notifications">
        <div class="notifications-s">
            <div class="noti-front">
                <div class="noti-head">
                    <input type="search" placeholder="Search User..">
                </div>
                <div id="user-list" class="noti-users">
                   
{% for i in data.chats.users %}
                        {{i.username}}
                    {% endfor %}
                   <a class="list-group-item user">bhanu</a>
                   {# Users go here #}
                </div>
            </div>
            <div class="noti-back">
                <div id="messages" class="messages">
                    {# Messages go here #}
                </div>
                <div class="input-group">
                    <div><input id="chat-input" type="text"
                        class="form-control input"
                        placeholder="Type your message here ...">
                    </div>
                    <div>
                        <button id="btn-send">Send</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div-->
</div>
<script>
    let sessionKey = '{{ request.session.session_key }}';
    let currentUser = '{{ request.user.username }}';
</script>
<script src="{% static 'js/app.js' %}"></script>