{% load static %}
{% static "images" as baseUrl %}
{% if messages %}
    <div class="post_data">
        <div>
            {% for message in messages %}
                <span class="spn2"><a target="_blank" href="{% url 'open-post' message %}">Click Here</a></span>
                <span class="spn1">{{message}} </span>
            {% endfor %}
        </div>
        <div>
            <button onclick="close_log()">&#x2715;</button>
        </div>
    </div>
{% endif %}
<div class="con-inside">
    <div class="con-heading">
        {% for nav in navss %}
            {% if nav.w == sec %}
                {{ nav.n }}
            {% endif %}
        {% endfor %}
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div type="button" class="swiper-slide book">Book</div>
            <div type="button" class="swiper-slide bicycle">Bicycle</div>
            <div type="button" class="swiper-slide calculator">Calculator</div>
            <div type="button" class="swiper-slide drawing">Drawing materials</div>
            <div type="button" class="swiper-slide others">Others</div>
        </div> 
    </div>
    
    <div class="con-main-sel book-sel">
        <form action="{% url 'sel-submit' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="cate" value="book" style="display: none;">
            <div class="con-main-sel-inp sel-inp">
                <div class="lab">Author :</div>
                <div class="inp"><input type="text" name="author" placeholder="Author"></div>
            </div>
            <div class="con-main-sel-inp sel-inp">
                <div class="lab">Name :</div>
                <div class="inp"><input type="text" name="name" placeholder="Name" required></div>
            </div>
            <div class="con-main-sel-inp sel-inp">
                <div class="lab">Price :</div>
                <div class="inp"><input type="text" name="price" placeholder="Price" required></div>
            </div>
            <div class="con-main-sel-inp sel-inp">
                <div class="lab">Pics :</div>
                <div class="inp fil"><input type="file" name="cover" accept="images" multiple required></div>
            </div>
            <div class="con-main-sel-inp tex">
                <div class="lab tex">About :</div>
                <div class="inp"><textarea title="About"  name="desc" placeholder="About" rows="10" style="resize: none;"></textarea></div>
            </div>
            <div class="but"><button>Submit</button></div>
        </form>
    </div>
    <div class="con-main-sel bicycle-sel">
        <form action="{% url 'sel-submit' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="cate" value="bicycle" style="display: none;">
            <div class="con-main-sel-inp sel-inp">
                <div class="lab">Company :</div>
                <div class="inp"><input type="text" name="company" placeholder="Company"></div>
            </div>
            <div class="con-main-sel-inp sel-inp">
                <div class="lab">Title :</div>
                <div class="inp"><input type="text" name="name" placeholder="Title" required></div>
            </div>
            <div class="con-main-sel-inp sel-inp">
                <div class="lab">Price :</div>
                <div class="inp"><input type="text" name="price" placeholder="Price" required></div>
            </div>
            <div class="con-main-sel-inp sel-inp">
                <div class="lab">Pics :</div>
                <div class="inp fil"><input type="file" name="cover" accept="images" multiple required> </div>
            </div>
            <div class="con-main-sel-inp tex">
                <div class="lab tex">About :</div>
                <div class="inp"><textarea title="About"  name="desc" placeholder="About" rows="10" style="resize: none;"></textarea></div>
            </div>
            <div class="but"><button>Submit</button></div>
        </form>
    </div>
    <div class="con-main-sel calculator-sel">
        <form action="{% url 'sel-submit' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="cate" value="calculator" style="display: none;">
            <div class="con-main-sel-inp sel-inp">
                <div class="lab">Company :</div>
                <div class="inp"><input type="text" name="company" placeholder="Company"></div>
            </div>
            <div class="con-main-sel-inp sel-inp">
                <div class="lab">Title:</div>
                <div class="inp"><input type="text" name="name" placeholder="Title" required></div>
            </div>
            <div class="con-main-sel-inp sel-inp">
                <div class="lab">Price :</div>
                <div class="inp"><input type="text" name="price" placeholder="Price" required></div>
            </div>
            <div class="con-main-sel-inp sel-inp">
                <div class="lab">Pics :</div>
                <div class="inp fil"><input type="file" name="cover" accept="images" multiple required> </div>
            </div>
            <div class="con-main-sel-inp tex">
                <div class="lab tex">About :</div>
                <div class="inp"><textarea title="About"  name="desc" placeholder="About" rows="10" style="resize: none;"></textarea></div>
            </div>
            <div class="but"><button>Submit</button></div>
        </form>
    </div>
    <div class="con-main-sel drawing-sel">
        <form action="{% url 'sel-submit' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="cate" value="drawing" style="display: none;">
            <div class="con-main-sel-inp sel-inp">
                <div class="lab">Company :</div>
                <div class="inp"><input type="text" name="company" placeholder="Company"></div>
            </div>
            <div class="con-main-sel-inp sel-inp">
                <div class="lab">Title :</div>
                <div class="inp"><input type="text" name="name" placeholder="title" required></div>
            </div>
            <div class="con-main-sel-inp sel-inp">
                <div class="lab">Price :</div>
                <div class="inp"><input type="text" name="price" placeholder="Price" required></div>
            </div>
            <div class="con-main-sel-inp sel-inp">
                <div class="lab">Pics :</div>
                <div class="inp fil"><input type="file" name="cover" accept="images" multiple required> </div>
            </div>
            <div class="con-main-sel-inp tex">
                <div class="lab tex">About :</div>
                <div class="inp"><textarea title="About"  name="desc" placeholder="About" rows="10" style="resize: none;"></textarea></div>
            </div>
            <div class="but"><button>Submit</button></div>
        </form>
    </div>
    <div class="con-main-sel others-sel">
        <form action="{% url 'sel-submit' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="cate" value="others" style="display: none;">
            <div class="con-main-sel-inp sel-inp">
                <div class="lab"><input type="text" name="label1" placeholder="Label-1"> :</div>
                <div class="inp"><input type="text" name="inp1" placeholder="Input-1"></div>
            </div>
            <div class="con-main-sel-inp sel-inp">
                <div class="lab"><input type="text" name="label2" placeholder="Label-2"> :</div>
                <div class="inp"><input type="text" name="inp2" placeholder="Input-2"></div>
            </div>
            <div class="con-main-sel-inp sel-inp">
                <div class="lab">Name :</div>
                <div class="inp"><input type="text" name="name" placeholder="Name" required></div>
            </div>
            <div class="con-main-sel-inp sel-inp">
                <div class="lab">Price :</div>
                <div class="inp"><input type="text" name="price" placeholder="Price" required></div>
            </div>
            <div class="con-main-sel-inp sel-inp">
                <div class="lab">Pics :</div>
                <div class="inp fil"><input type="file" name="cover" accept="images" multiple required> </div>
            </div>
            <div class="con-main-sel-inp tex">
                <div class="lab tex">About :</div>
                <div class="inp"><textarea title="About"  name="desc" placeholder="About" rows="10" style="resize: none;" required></textarea></div>
            </div>
            <div class="but"><button>Submit</button></div>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        
        
        
        (function(){
            $('.book').click(function(){
                $('.con-inside').find('.con-main-sel').each(function(){
                    $('.con-main-sel').css('display','none');
                });
                $('.book-sel').css('display','block');
                $('.swiper-slide').css('color','black');
                $('.book').css('color','white');
                $('.swiper-slide').css('background','rgba(192,192,192,.5)');
                $('.book').css('background','cornflowerblue');
            });
        })();
        (function(){
            $('.bicycle').click(function(){
                $('.con-inside').find('.con-main-sel').each(function(){
                    $('.con-main-sel').css('display','none');
                });
                $('.bicycle-sel').css('display','block');
                $('.swiper-slide').css('color','black');
                $('.bicycle').css('color','white');
                $('.swiper-slide').css('background','rgba(192,192,192,.5)');
                $('.bicycle').css('background','cornflowerblue');
            });
        })();
        (function(){
            $('.calculator').click(function(){
                $('.con-inside').find('.con-main-sel').each(function(){
                    $('.con-main-sel').css('display','none');
                });
                $('.calculator-sel').css('display','block');
                $('.swiper-slide').css('color','black');
                $('.calculator').css('color','white');
                $('.swiper-slide').css('background','rgba(192,192,192,.5)');
                $('.calculator').css('background','cornflowerblue');
            });
        })();
        (function(){
            $('.drawing').click(function(){
                $('.con-inside').find('.con-main-sel').each(function(){
                    $('.con-main-sel').css('display','none');
                });
                $('.drawing-sel').css('display','block');
                $('.swiper-slide').css('color','black');
                $('.drawing').css('color','white');
                $('.swiper-slide').css('background','rgba(192,192,192,.5)');
                $('.drawing').css('background','cornflowerblue');
            });
        })();
        (function(){
            $('.others').click(function(){
                $('.con-inside').find('.con-main-sel').each(function(){
                    $('.con-main-sel').css('display','none');
                });
                $('.others-sel').css('display','block');
                $('.swiper-slide').css('color','black');
                $('.others').css('color','white');
                $('.swiper-slide').css('background','rgba(192,192,192,.5)');
                $('.others').css('background','cornflowerblue');
            });
        })();
    </script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script>
      var swiper = new Swiper('.swiper-container', {
        slidesPerView: 'auto',
        freeMode: true,
      });
    </script>
    
        
</div>