.contact{
    color: rgb(70,70,70);
    font-size: 14px;
}

.contact .contact-s{
    margin-left: 25%;
    margin-right: 25%;
}

.contact .contact-s .heading{
    margin:15px ;
    font-size: 40px;
    font-weight: bold;
}

.contact .contact-s .heading .heading-s{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .contact-s .heading .heading-s .icon img{
    height: 50px;
    width: 50px;
    margin: 10px;
}

.contact .contact-s .msg_us{
    display: flex;
    justify-content: center;
    margin:30px 0 18px 0;
}

.contact .contact-s .msg_us .msg-s .msg-inp input,.contact .contact-s .msg_us .msg-s .msg-inp button{
    height: 53px;
    width: 500px;
    padding-left: 13px;
    border-radius: 7px;
    outline-color: rgba(120,120,120,.7);
    font-family:-apple-system,SF Pro Text,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    letter-spacing:0.5px;
    border: solid 1px rgba(200,200,200,.7);
    font-size: 15px;
}

.contact .contact-s .msg_us .msg-s .msg-inp textarea{
    height: 200px;
    width: 500px;
    border: solid 1px rgba(200,200,200,.7);
    border-radius: 7px;
    padding: 13px;
    resize: none;
    outline-color: rgba(120,120,120,.7);
    font-size: 15px;
    letter-spacing:0.5px;
    font-family:-apple-system,SF Pro Text,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
}

.contact .contact-s .msg_us .msg-s .msg-inp button{
    cursor: pointer;
    background: rgba(200,200,200,.7);
    color: rgb(50,50,50);
    font-family:-apple-system,SF Pro Text,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    letter-spacing:0.5px;
}

.contact .contact-s .msg_us .msg-s .msg-inp button:hover{
    background: rgba(200,200,200,.9);
}

.contact .contact-s .msg_us .msg-inp{
    margin: 20px;
}

.contact .contact-s .see_faq{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.contact .contact-s .see_faq .see-faq-s a{
    color: rgb(50,50,50);
    text-decoration: none;
}

.contact .contact-s .see_faq .see-faq-s a:hover{
    text-decoration: underline;
}

@media only screen and (max-width:800px) {

    
    .contact .contact-s{
        margin-left: 0%;
        margin-right: 0%;
    }

    .contact .contact-s .msg_us{
        width: 100%;
    }

    .contact .contact-s .msg_us .msg-s .msg-inp input, .contact .contact-s .msg_us .msg-s .msg-inp textarea, .contact .contact-s .msg_us .msg-s .msg-inp button{
        width: 300px;
    }
    
    
    
}