.container-box{
    left: 0;
    width: 100%;
    background: rgba(240,240,240,.3);
}

.log_data{
  position: sticky;
  top: 50px;
  color: rgb(50,50,50);
  padding: 3px;
  display: grid;
  align-items: center;
  grid-template-columns: calc(100% - 30px) 30px;
  font-size: 12px;
  border-bottom: solid .6px rgba(192,192,192,.3);
  background: rgba(240,240,240,.7);
  backdrop-filter: blur(15px);
  z-index: 100;
}

.log_data div:first-child{
  display: flex;
  justify-content: center;
  z-index: 10;
}
.log_data div:first-child span{
  transform: translateX(15px);
}

.log_data div:nth-child(2) button{
  border: solid 1px rgba(220,220,220,.7);
  border-radius: 3px;
  padding: 2px 3px 2px 3px;
  background: rgba(220,220,220,.5);
  cursor: pointer;
  z-index: 100;
}


.log_data div:nth-child(2) button:hover{
  background: rgba(220,220,220,.7);
}

.container-box .con-swiper{
  margin-top: 10px;
    width: 100%;
    min-height: 200px;
    max-height: 250px;
    border: solid 1px rgba(192,192,192,.3);
    background: rgba(255,255,255,.9);
}

.conswiper .swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.noproductfound{
  display: flex;
  justify-content: center;
  margin: 40px;
}

.noproductfound img{
  height: 250px;
  width: 250px;
}

.stack{
  margin-top: 15px;
}
.stack .location{
  text-align: center;
  margin-bottom:15px ;
  font-size: 12px;
}
.stack .location input{
  background-color: transparent;
  height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  font-size: 14px;
  width:auto;
}
.stack .location .radius input{
  width:80px;
}
.stack .lmr{
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.stack .lmr .m .even{
  display: grid;
  grid-template-columns: 120px calc(100% - 120px);
  margin:10px;
  border-radius: 15px;
  background-color: white;
  box-sizing: border-box;
  padding:15px;
  font-size: 15px;
}

.even .pic{
  height:110px;
  border: solid 1px rgb(240,240,240);
  border-radius: 5px;
}

.even .pic img{
  display: none;
}

.even .pic img:nth-child(1){
  display: block;
}

.even .det{
  display: grid;
  grid-template-rows: auto auto auto;
  color: rgba(50,50,50,.9);
  font-size: 12px;
  align-items: center;
}

.even .ncc{
  display: grid;
  grid-template-columns: calc(100% - 30px) 30px;
}

.even .det .name{
  font-size: 14px;
}

.det .price, .det .desc,.ncc .name{
  padding-left: 10px;
}

.det .ncc .contact{
  display: flex;
}

.det .ncc .contact i{
  color: cornflowerblue;
  cursor: pointer;
}

.det .ncc .name a{
  text-decoration: none;
  color: #007aff;
  font-size:16px ;
}

.det .ncc .name a:hover{
  text-decoration: underline;
  color: #007aff;
}

.desc{
  font-size: 13px;
  align-content: center;
  padding-right: 5%;
  padding-top: 5px;
}

.stack .lmr .m .even:hover{
box-shadow: 0 0 14px rgb( 200, 200, 205);
transition: .3s;
}


@media only screen and (max-width:800px) {

  .con-swiper{
    width: 100%;
    min-height: 120px;
    max-height: 160px;
    border-bottom: solid .6px rgba(192,192,192,.9);

}

  .stack .lmr{
    display: grid;
    grid-template-columns: 0% 100% 0%;
  }

}