.con-inside .dashboard{
    width: 560px;
}

.con-inside .dashboard .dash-head{
    display: grid;
    grid-template-columns: 80px calc(100% - 80px);
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 45px;
}

.con-inside .dashboard .dash-head:hover{
    box-shadow: 0 0 2px rgb( 200, 200, 200);
    transition: .1s;
}

.con-inside .dashboard .dash-head .pic img{
    width:75px;
    height: 75px;
    border-radius: 50%;
    padding: 10px;
}

.con-inside .dashboard .dash-head .name{
    font-size: 35px;
    padding-left: 10px;
    font-weight: 400;
}

.con-inside .dashboard .info{
    margin-top: 20px;
    border: solid 1px rgba(192,192,192,.5);
    border-radius: 7px;
    font-size: 13px;
    color: rgb(50,50,50);
}

.con-inside .dashboard .info .info-head{
    display: grid;
    grid-template-columns: calc(100% - 20px) 20px;
    padding: 7px;
    font-weight: bolder;
    color: rgb(50,50,50);
    background: rgba(240,240,240,.7);
}

.con-inside .dashboard .info .info-head div:nth-child(2) a{
    color: rgb(50,50,50);
    padding: 4px;
    border-radius: 50%;
    border: solid .6px transparent;
}

.con-inside .dashboard .info .info-head div:nth-child(2) a:hover{
    border: solid .6px rgba(192,192,192,.2);
    background: linear-gradient(rgba(192,192,192,.3),rgba(192,192,192,.1));
}

.con-inside .dashboard .info .info-one{
    border: solid 1px rgba(192,192,192,.5);
    border-bottom: none;
    border-left:none;
    border-right:none;
    display: grid;
    grid-template-columns: 100px calc(100% - 100px);
    height: auto;
}

.con-inside .dashboard .info:hover{
    box-shadow: 0 0 5px rgb( 200, 200, 200);
    transition: .1s;
}

.con-inside .dashboard .info .info-one .label{
    border-right:solid 1px rgba(192,192,192,.5);
    height:auto;
    padding: 7px;
    padding-top: 4px;
    padding-left: 6px;
    font-size: 12px;
}

.con-inside .dashboard .info .info-one .value{
    padding-top: 4px;
    padding-bottom: 0;
    padding-left: 6px;
    height: auto;
    padding: 7px;
}

.con-inside .dashboard .info .info-one:nth-child(1){
    border:none;
}


@media only screen and (max-width:800px) {

    .con-inside .dashboard{
        width: 100%;
    }

}