
body{
  background: rgba(240,240,240,.2);
}

.post-show{
    margin-top: 15px;
    width: 100%;
    display: grid;
    grid-template-columns: 45% 55%;
    font-size: 15px;
    background:rgba(240,240,240,.5);
    border: solid 1px rgba(200,200,200,.3);
    margin-left: 15%;
    margin-bottom: 15px;
    width: 70%;
}

.post-show .post-pic{
    margin: 30px;
    margin-top: 10px;
    padding: 20px 30px 20px 20px;
}

.post-show .post-det{
  margin: 30px;
  margin-top: 10px;
  color: rgb(50,50,50);
  line-height: 25px;
  letter-spacing: 0.7px;
  padding: 20px 30px 20px 20px;

}

.post-pic .gallery-top{
  overflow: hidden;
}

.post-pic .gallery-top .swiper-wrapper{
  display: flex;
  align-items: center;
  height: 300px;
  border: none;
}

.post-pic .gallery-top .swiper-slide{
  max-width:100%;
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
}

.post-pic .gallery-top .swiper-slide img{
  max-width: 400px;
  max-height:400px;
  object-fit: cover;
    border-radius: 5px;
}

.post-pic .gallery-top .swiper-wrapper .swiper-slide{
  visibility: hidden;
}

.post-pic .gallery-top .swiper-wrapper .swiper-slide-active{
  visibility: initial;
}

.post-pic .gallery-thumbs .swiper-wrapper{
  display: flex;
  align-items: center;
  height: 70px;
  border: none;
}

.post-pic .gallery-thumbs .swiper-slide{
  display: flex;
  align-items: center;
  justify-content: center;
    margin: 4px;
    border-radius: 5px;
    background: transparent;
    border: none;
}
.post-pic .gallery-thumbs .swiper-slide img{
    max-width: 50px;
    max-height:50px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
}

.post-det .name{
    color: cornflowerblue;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}

.hr{
    width: 100%;
    height: 1px;
    background-color: rgb(50,50,50);
    margin-bottom: 12px;
}

.post-det .det-each{
    display: grid;
    grid-template-columns: 80px calc(100% - 80px) ;
    margin-bottom:8px;
    font-size: 14px;
}

.post-det .det-each .det-lab{
    font-size: 13px;
}

.but{
    margin: 30px 0 0 55px;
}

.but button{
    color: white;
    background: cornflowerblue;
    font-size: 14px;
    border: none;
    border-radius: 25px;
    padding: 10px 25px 10px 25px;
}

.but button:hover{
    box-shadow: 0px 0px 7px cornflowerblue;
    cursor: pointer;
}


.other-items{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .other-items .heading{
    text-align: center;
    font-size: 13px;
  }

  .msg-box{
    position: sticky;
    top: 50px;
    display: none;
    border-bottom: solid 1px rgba(192,192,192,.3);
    background: rgba(240,240,240,.7);
    padding: 5px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    z-index: 100000;
    color: rgb(50,50,50);
    backdrop-filter: blur(15px);
  }
/*   
  .msg-link{
    background: linear-gradient(rgba(220,220,220,.5),rgba(200,200,200,.5));
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    align-self: center;
    margin-left: 10px;
  }

  .msg-link a{
      color: black;
      text-decoration: none;
      font-family:-apple-system,SF Pro Text,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
      letter-spacing:0.3px;
  } */
  
  
  @media only screen and (max-width:1000px) {
    .post-show{
      margin-left: 5%;
      width: 90%;
    }
  }
  
  @media only screen and (max-width:800px) {

    .post-show{
      margin-left: 0;
      width: 100%;
  }
  

    .post-show{
        display: block;
    }

    .but{
        margin:30px 0px 0px 0px;
        display: flex;
        justify-content: center;
    }
  
  }